<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand d-none d-md-block" href="/">
        Blog Guia Press
    </a>


    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <% categories.forEach(category =>{%>
            <li class="nav-item">
                <a class="nav-link" href="/category/<%= category.slug%>"><%= category.title%></a>
            </li>
            <% }) %>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          
            <a class="nav-link" href="/login">Login</a>
        </li>
    </ul>
</nav>