@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Nunito:wght@200;300;400;600;700&family=Outfit:wght@300;400;600&display=swap');

:root{
    --red: #ff3838;
}
*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}
body{
    height: 100vh;
}
header{
    background: #fff;
    
}
.header-top{
    background: rgb(24, 23, 23);
    color: #fff;
    text-decoration: none;
    font-style: none;
    display: flex;
    justify-content: space-between;
  
    
}
header .navbar a{

    color: #fff;
}
header a:hover{
    color: aqua;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo h1{
    font-size: 3rem;
    margin-top: 2rem;
}


.navbar-menu{
    border-bottom: .1rem solid rgba(0 ,0 ,0 ,.1);
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.navbar-menu a{
   
    margin: 1rem;
    font-size: 1.2rem;
    color: black;
}
.navbar-menu a:hover{

    color: rgb(231, 14, 14);
}

.main{
    display: flex;
    width: 100vw;
    height: auto;
}
.container{
    display: flex;
    width: 100vw;
    height: auto;
    align-items: center;
    flex-direction: column;
    
}

.container-title span{
    display: block;
    margin-top: 2rem;
    font-size: 2rem;
    
}




.container-items{
    margin-top: 3rem;
    width: 100vw;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 3rem;
}
.box-notice{
    width:25%;
    height: 50vh;
    
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0 ,0 ,0 ,.1);
    border: .2rem solid rgba(0 ,0 ,0 ,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.box-notice .title{
    margin-top: 2rem;
    font-size: 1.5rem;
   
}
.box-notice .descricao{
    margin-left: 1rem;
    overflow: hidden;
    text-align: left;
}
.box-notice button{
    margin: 2rem;
    padding: 1.3rem;
    border-radius: 5px;
    border: none;


    display: inline-block;
    padding: .6rem 2rem;
    border: .2rem solid #000;
    color: #000;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.box-notice button::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: #000;
    transition: .3s linear;
    z-index: -1;
}

.box-notice button:hover::before{
    width: 100%;
    top: 0; 
    color: #fff;
}
button:hover{
    color:#fff;
}

/*** formulario login*/
main{
    width: 100vw;
    height: auto;
    display: flex;
   
}

.form-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #e3e2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form {
    margin-top: -150px;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
    width: 420px;
    height: auto;
  }
  form .input-block {
    margin-bottom: 20px;
  }
  form .input-block label {
    font-size: 1.3rem;
    color: darkslateblue;
  }
  form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 10px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
  }
  form .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #002cf0;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
  }
  /***************aparicao do form*******************/
form{
    animation-name: fade;
    animation-duration: 500ms;
  }
  @keyframes fade{
    from{
      opacity: 0;
      transform: scale(0.9);
    }
    to{
      opacity: 1;
      transform: scale(1);
    }
  }
  /***************movimentando os input*******************/
  form{
    overflow: hidden;
  }
  form .input-block:nth-child(1){
    animation-name: move;
    animation-duration: 500ms;
  
  }
  form .input-block:nth-child(2){
    animation-name: move;
    animation-duration: 500ms;
    animation-delay: 100ms;
    animation-fill-mode: backwards;
  }
  form .btn-login {
    animation-name: move;
    animation-duration: 400ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
  }
  
  @keyframes move{
    from{
      opacity: 0;
      transform: translateX(-35%)
    }
    to{
      opacity: 1;
      transform: translateX(0%)
    }
  }
  @media(max-width:1100px){
    
    .box-notice{
      width:44%;
      height: 50vh;
      
    }
    .box-notice .title{
      margin-top: 2rem;
      font-size: 1.5rem;
     
  }
  .box-notice .descricao{
      margin-left: 2rem;
      overflow: hidden;
      text-align: left;
  }
  }
  
  @media(max-width:991px){
    
    .box-notice{
      width:44%;
      height: 50vh;
      
    }
  }

   
  @media(max-width:750px){
    
    .box-notice{
      width:70%;
      height: 50vh;
      
    }
    .box-notice .title{
      margin-top: 1rem;
      font-size: 1.7rem;
     
  }
    .box-notice .descricao{
      margin-left: 2rem;
      font-size: 1.3rem;
      overflow: hidden;
      text-align: left;
  }
  }

  @media(max-width:500px){
    
    .box-notice{
      width:70%;
      height: 50vh;
      
    }
    .box-notice .title{
      margin-top: 1rem;
      font-size: 1.2rem;
     
  }
  .box-notice .descricao{
      margin-left: 2rem;
      font-size: 1rem;
      overflow: hidden;
      text-align: left;
  }
  }