<%- include ('../../partials/newheader.ejs') %>
<%- include ('../../partials/navbarlogin.ejs') %>


<section class="main">   

    <div class="form-wrapper">
        <form action="/authenticate" method="POST">

         <div class="input-block">
             <label for="login-email">Email</label>
             <input type="email" id="login-email" name="email" placeholder="Digite seu email">
         </div>
         <div class="input-block">
             <label for="login-password">Password</label>
             <input type="password" name="password"  id="login-password" />
         </div>
          <button type="submit" class="btn-login">Login</button>


        </form>

     </div>


 </section>
<%- include ('../../partials/footer.ejs') %>